<h1>{{ lang.about.isA }}</h1>
<h4>
    <ul>
        <li>{{ lang.about.developer }}</li>
        <li>{{ lang.about.streamer }}</li>
        <li>{{ lang.about.gamer }}</li>
    </ul>
</h4>

<h1>{{ lang.about.isSkilled }}</h1>
<h4>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
    </ul>
</h4>

<h1>{{ lang.about.worksWith }}</h1>
<h4>
    <ul>
        <li>{{ lang.about.frontend }}</li>
        <li>{{ lang.about.backend }}</li>
    </ul>
</h4>